@{
    ViewBag.Title = "Ana Sayfa";
    ViewBag.isMenuLink = "/";
    ViewBag.SubTitle = "WebInfo";
    ViewBag.SubDescription = "WebInfo Genel Durum.";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN TAB PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-anchor font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Kayıt Ekleme</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tabbable tabbable-tabdrop">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">Genel Bilgiler</a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab">Sağlık Bilgileri</a>
                        </li>
                        <li>
                            <a href="#tab3" data-toggle="tab">İkamet Bilgileri</a>
                        </li>
                        <li>
                            <a href="#tab4" data-toggle="tab">Eğitim Bilgileri</a>
                        </li>
                        <li>
                            <a href="#tab5" data-toggle="tab">Kamp Bilgileri</a>
                        </li>
                        <li>
                            <a href="#tab6" data-toggle="tab">Eğitim Bilgileri</a>
                        </li>
                        <li>
                            <a href="#tab7" data-toggle="tab">Sosyal Yardım</a>
                        </li>
                        <li>
                            <a href="#tab8" data-toggle="tab">Adli İşlem</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <p> I'm in Section 1. </p>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <p> Howdy, I'm in Section 2. </p>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <p> Howdy, I'm in Section 3. </p>
                        </div>
                        <div class="tab-pane" id="tab4">
                            <p> Howdy, I'm in Section 4. </p>
                        </div>
                        <div class="tab-pane" id="tab5">
                            <p> Howdy, I'm in Section 5. </p>
                        </div>
                        <div class="tab-pane" id="tab6">
                            <p> Howdy, I'm in Section 6. </p>
                        </div>
                        <div class="tab-pane" id="tab7">
                            <p> Howdy, I'm in Section 7. </p>
                        </div>
                        <div class="tab-pane" id="tab8">
                            <p> Howdy, I'm in Section 8. </p>
                        </div>
                        <div class="tab-pane" id="tab9">
                            <p> Howdy, I'm in Section 9. </p>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <button class="btn btn-primary">Kaydet</button>
            </div>
        </div>
